*.html
Project Logs for *
Project Outputs for *
SCH/History*
SCH/__Previews*
PCB/History*
PCB/__Previews*
*.txt
PCB/*.txt
History*
__Previews*
DOC/documentation/V701/*.png
DOC/documentation/V701/*.pdf
DOC/documentation/V701/*.bkp
DOC/documentation/V801/*.png
DOC/documentation/V801/*.pdf
DOC/documentation/V801/*.bkp
DOC/documentation/V811/*.png
DOC/documentation/V811/*.pdf
DOC/documentation/V811/*.bkp